@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
	height: 100%;
}

body {
	font-size: 16px;
}

p {
	color: #777777;
}

.large-body {
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
}

.regular-body {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
}

.small-body {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #001d5d;
}

h1,
h2,
h3,
h4 {
	font-weight: 700;
}

h5 {
	font-weight: 600;
}

h6 {
	font-weight: 500;
}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 40px;
}

h4 {
	font-size: 32px;
}

label {
	color: #777777;
}

input,
select,
textarea {
	border: solid 1px #777777;
}

select {
	color: #777777;
}

button,
button[type="submit"] {
	padding: 0.5rem 2.5rem;
	border-radius: 2px;
	background-color: #d9f0d0;
	color: #42a418;
	transition: all;
	transition-duration: 150ms;
	transition-timing-function: linear;
}

button:hover {
	background-color: #42a418;
	color: white;
}
