.carousel_card {
	display: flex;
	align-items: center;
	padding: 36px 36px;
	margin: 0 1.5rem;
	gap: 1rem;
	align-items: center; 
	background-color: #ffffff; 

	.carousel_card_wrapper {
		display: flex; 
		gap: 16px;
		height: 75%;

		.carousel_card_image_container {
			aspect-ratio: square;
		}
	
		.carousel_card_details_container {
			flex: 1;
		}
	}
}

.carousel_button_container {
	display: flex; 
	margin: 2.5rem auto;
	gap: 2.5rem; 
	justify-content: center; 
	width: 50%; 
}

.carousel_nav_button {
	display: flex; 
	justify-content: center; 
	align-items: center; 
	background-color: #B8BFCF;
	border-radius: 9999px; 
	width: 68px; 
	height: 68px; 
	cursor: pointer; 
	transition: all;
	transition-timing-function: linear;
	transition-duration: 100ms;

	&:hover {
		background-color: #001D5D;
	}
}