@use '../../app/mixins.module.scss';

.carousel_card {
	display: flex;
	align-items: center;
	padding: 36px;
	margin: 0 1.5rem;
	gap: 1rem;
	align-items: center; 
	background-color: #ffffff; 
	transition: all 0.3s ease;

	@include mixins.for-really-small-phones {
		padding: 16px;
		min-width: fit-content;
	}

	.carousel_card_wrapper {
		display: flex;
		flex-direction: column;
		gap: 16px;
		height: 75%;

		@include mixins.for-tablet-landscape-up {
			flex-direction: row;
		}

		.carousel_card_image_container {
			aspect-ratio: square;
		}
	
		.carousel_card_details_container {
			flex: 1;

			@include mixins.for-really-small-phones {
				p {
					font-size: 10px;
					line-height: normal;
				}
				
			}
		}
	}
}

.carousel_button_container {
	display: flex; 
	margin: 2.5rem auto;
	gap: 2.5rem; 
	justify-content: center; 
	width: 50%; 
}

.carousel_nav_button {
	display: flex; 
	justify-content: center; 
	align-items: center; 
	background-color: #B8BFCF;
	border-radius: 9999px; 
	width: 68px; 
	height: 68px; 
	cursor: pointer; 
	transition: all;
	transition-timing-function: linear;
	transition-duration: 100ms;

	&:hover {
		background-color: #001D5D;
	}
}