@use '../../app/mixins.module.scss';

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 64px;
	background-color: white;
	z-index: 10;

	.navbar_container {
		margin: 0 auto;
		padding: 0 36px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}

	.mobile_menu_icon {
		cursor: pointer;
		display: block;
		margin-left: auto;
		border-radius: 5px;
		transition: all 0.3s ease;

		&:hover {
			background-color: black;
			color: white;
		}
	}

	.nav_links {
		display: none;

		ul {
			display: flex;
			gap: 61px;

			li {
				color: #001D5D;
			}
		}
	}

	button {
		display: none;
	}

	@include mixins.for-desktop-up {
		.mobile_menu_icon {
			display: none;
		}
	
		.nav_links {
			display: flex;
		}

		button {
			display: block;
		}
	}
}

.mobile_nav {
	position: absolute;
	top: 64px;
	height: calc(100vh - 64px);
	right: 0;
	background-color: white;
	width: 0;
	transition: all 0.3s ease;

	@include mixins.for-desktop-up {
		display: none;
	}

	li {
		margin: 40px;
	}

	button {
		display: block;
	}
}